<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="false">
    <listeners>
        <listener class-name="com.tappayments.automation.config.ExtentReportSetup"/>
    </listeners>

    <!-- Test Suite for Internal Authentication -->
    <test name="QA Authentication Cases - Internal Auth" verbose="2" preserve-order="true">
        <classes>
            <class name="com.tappayments.automation.qazidpay.cases.CreateZidPayToken"/>
            <class name="com.tappayments.automation.qazidpay.cases.CreateZidPayPayment"/>
            <class name="com.tappayments.automation.qazidpay.cases.GetZidPayPaymentStatus"/>
            <class name="com.tappayments.automation.qazidpay.cases.RefundZidPayPayment"/>
        </classes>
    </test>
</suite>
